{% extends 'base.html' %}
{% load static %}


<body class="sub_page about_page">
<!-- slider section -->
<section class=" slider_section position-relative"></section>
<!-- end slider section -->
{% block about_slider %}<div class="container">
            <div class="custom_nav2">
                <nav class="navbar navbar-expand-lg custom_nav-container ">
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <div class="d-flex  flex-column flex-lg-row align-items-center">
                            <ul class="navbar-nav  ">
                                <li class="nav-item ">
                                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item active">
                                    <a class="nav-link" href="/about">About </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/service">Services </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/contact">Contact Us</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/login">Login</a>
                                </li>
                            </ul>
                            <form class="form-inline my-2 my-lg-0 ml-0 ml-lg-4 mb-3 mb-lg-0">
                                <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit"></button>
                            </form>
                        </div>
                    </div>
                </nav>
            </div>
        </div>{% endblock %}

<!-- about section -->
{% block about_section %}
    <section class="about_section layout_padding">
        <div class="container">
            <div class="heading_container">
                <h2>
                    About MIR.GYM
                </h2>
            </div>
            <div class="box">
                <div class="img-box">
                    <img src="{% static 'images/about-img.png' %}" alt="">
                </div>
                <div class="detail-box">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore
                        et
                        dolore magna aliqua. Ut enim ad minim veniam, quis
                    </p>
                    <a href="">
                        Read More
                    </a>
                </div>
            </div>
        </div>
    </section>{% endblock %}
<!-- end about section -->



</body>
